{% extends 'base.html' %}
{% block title %}
    Страница приветствия
{% endblock %}
{% block content %}
    <h1 style="text-align: center;">Пройди тест {{ quiz.title }}</h1>
    <div style="text-align: center; border: 1px solid black; border-radius: 10px; background-color: antiquewhite; padding: 10px">
        <p>Введи свои данные что бы начать</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Начать
            </button>
        </form>
    </div>
{% endblock %}